<section id="container_mais_filtros" class="back_primario">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2
              class="titulo_section color_titulo barra_bottom_center text-center margin-top-10"
            >
              Principais Pesquisas
            </h2>
          </div>
          <div class="col-12 margin-top-10 margin-bottom-10">
            <span>Separamos para você as principais pesquisas em nosso site!</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 margin-top-30 margin-bottom-40">
            <!-- Nav tabs -->
            <ul class="botoes_lista_imoveis_home nav nav-pills text-center">
              <li class="nav-item">
                <a
                    class="nav-link active"
                    data-toggle="tab"
                    href="#tab_home_lista_comprar"
                    role="tab"
                    aria-controls="tab_home_lista_comprar"
                    aria-selected="true"
                  >Quero Comprar</a
                >
              </li>
              <li class="nav-item">
                <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#tab_home_lista_alugar"
                    role="tab"
                    aria-controls="tab_home_lista_alugar"
                    aria-selected="false"
                  >Quero Alugar</a
                >
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content margin-top-20">
              <!-- tab lista comprar -->
              <div class="tab-pane fade show active" id="tab_home_lista_comprar"  role="tabpanel" aria-labelledby="tab_home_lista_comprar-tab">
                <div class="row">
                  <!-- bairro 1 -->
                  <div class="col-12 col-sm-6 col-md-3 margin-top-30">
                    <div class="row">
                      <div class="col-12">
                        <h2 class="titulo_site color_titulo margin-bottom-20">
                          Camboriú/SC
                        </h2>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/imovel/camboriu/?&amp;pagina=1"
                        >
                          Imóveis em Camboriú/SC
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/terreno/camboriu/?&amp;pagina=1"
                        >
                          Terreno
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- end bairro 1 -->

                  <!-- bairro 2 -->
                  <div class="col-12 col-sm-6 col-md-3 margin-top-30">
                    <div class="row">
                      <div class="col-12">
                        <h2 class="titulo_site color_titulo margin-bottom-20">
                          Cascavel/PR
                        </h2>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/casa/cascavel/?&amp;pagina=1"
                        >
                          Casa residencial
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/comercial/cascavel/?&amp;pagina=1"
                        >
                          Comercial
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/sobrado/cascavel/?&amp;pagina=1"
                        >
                          Sobrado
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/apartamento/cascavel/todos-os-bairros/todos-os-condominios/todas-as-opcoes/2-quartos?&amp;pagina=1"
                        >
                          Apartamento 2 Quartos
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/apartamento/cascavel/todos-os-bairros/todos-os-condominios/todas-as-opcoes/3-quartos?&amp;pagina=1"
                        >
                          Apartamento 3 quartos
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- end bairro 2 -->

                  <!-- bairro 3 -->
                  <div class="col-12 col-sm-6 col-md-3 margin-top-30">
                    <div class="row">
                      <div class="col-12">
                        <h2 class="titulo_site color_titulo margin-bottom-20">
                          Itapema/SC
                        </h2>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/imovel/itapema/?&amp;pagina=1"
                        >
                          Imóveis em Itapema/SC
                        </a>
                      </div>
                      <div class="col-12">
                        <a class="box_link_mais_filtros" href="venda/">
                          Sobrado
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/apartamento/itapema/?&amp;pagina=1"
                        >
                          Apartamento
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/imovel/itapema/todos-os-bairros/todos-os-condominios/todas-as-opcoes/2-quartos?&amp;pagina=1"
                        >
                          Apartamento 2 quartos
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- end bairro 3 -->

                  <!-- bairro 4 -->
                  <div class="col-12 col-sm-6 col-md-3 margin-top-30">
                    <div class="row">
                      <div class="col-12">
                        <h2 class="titulo_site color_titulo margin-bottom-20">
                          Curitiba/PR
                        </h2>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/imovel/curitiba/?&amp;pagina=1"
                        >
                          Imóveis em Curitiba/PR
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/apartamento/curitiba/?&amp;pagina=1"
                        >
                          Apartamentos
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="venda/imovel/curitiba/todos-os-bairros/todos-os-condominios/todas-as-opcoes/2-quartos?&amp;pagina=1"
                        >
                          Apartamento 2 Quartos
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- bairro col 4 -->
                </div>
              </div>
              <!-- end tab lista comprar -->

              <!-- tab lista comprar -->
              <div class="tab-pane fade" id="tab_home_lista_alugar" role="tabpanel" aria-labelledby="tab_home_lista_alugar-tab">
                <div class="row">
                  <!-- bairro 1 -->
                  <div class="col-12 col-sm-6 col-md-3 margin-top-30">
                    <div class="row">
                      <div class="col-12">
                        <h2 class="titulo_site color_titulo margin-bottom-20">
                          Apartamentos
                        </h2>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/apartamento/cascavel/todos-os-bairros/todos-os-condominios/&amp;pagina=1"
                        >
                          Todos os apartamentos
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/apartamento/cascavel/todos-os-bairros/todos-os-condominios/todas-as-opcoes2-quartos?&amp;pagina=1"
                        >
                          Apartamento 2 quartos
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/apartamento/cascavel/todos-os-bairros/todos-os-condominios/todas-as-opcoes3-quartos?&amp;pagina=1"
                        >
                          Apartamentos 3 quartos
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- end bairro 1 -->

                  <!-- bairro 2 -->
                  <div class="col-12 col-sm-6 col-md-3 margin-top-30">
                    <div class="row">
                      <div class="col-12">
                        <h2 class="titulo_site color_titulo margin-bottom-20">
                          Casa
                        </h2>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/casa/cascavel/todos-os-bairros/todos-os-condominios/&amp;pagina=1"
                        >
                          Casa residencial
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/casa-em-condominio/cascavel/todos-os-bairros/todos-os-condominios/&amp;pagina=1"
                        >
                          Casa em condomínio
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/casa/cascavel/todos-os-bairros/todos-os-condominios/todas-as-opcoes2-quartos?&amp;pagina=1"
                        >
                          Casa 2 quartos
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- end bairro 2 -->

                  <!-- bairro 3 -->
                  <div class="col-12 col-sm-6 col-md-3 margin-top-30">
                    <div class="row">
                      <div class="col-12">
                        <h2 class="titulo_site color_titulo margin-bottom-20">
                          Sobrado
                        </h2>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/sobrado/todas-as-cidades/todos-os-bairros/todos-os-condominios/&amp;pagina=1"
                        >
                          Todos os sobrados
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/sobrado/todas-as-cidades/todos-os-bairros/todos-os-condominios/todas-as-opcoes2-quartos?&amp;pagina=1"
                        >
                          Sobrado 2 quartos
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/sobrado/todas-as-cidades/todos-os-bairros/todos-os-condominios/todas-as-opcoes3-quartos?&amp;pagina=1"
                        >
                          Sobrado 3 quartos
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- end bairro 3 -->

                  <!-- bairro 4 -->
                  <div class="col-12 col-sm-6 col-md-3 margin-top-30">
                    <div class="row">
                      <div class="col-12">
                        <h2 class="titulo_site color_titulo margin-bottom-20">
                          Sala comercial
                        </h2>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/sala-comercial/cascavel/todos-os-bairros/todos-os-condominios/&amp;pagina=1"
                        >
                          Salas comerciais
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/sala-comercial/cascavel/centro/todos-os-condominios/&amp;pagina=1"
                        >
                          Sala comercial centro
                        </a>
                      </div>
                      <div class="col-12">
                        <a
                          class="box_link_mais_filtros"
                          href="aluguel/sala-comercial/cascavel/parque-sao-paulo/todos-os-condominios/&amp;pagina=1"
                        >
                          Sala comercial Parque São paulo
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- bairro col 4 -->
                </div>
              </div>
              <!-- end tab lista comprar -->
            </div>
          </div>
        </div>
      </div>
    </section>