.dropdown-menu {
  min-width: 150%;    
}

.btn.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  color: #a5a3a3;
  font-size: 12px;
}

.btn.dropdown-toggle::after {
  display: none !important;
  content: none !important;
}

.dropdown-arrows {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.arrow-up, .arrow-down {
  font-size: 18px;
  line-height: 1;
  color: #a5a3a3;
}

.dropdown-toggle {
  min-width: 50px; 
  width: 30%;      
  height: 40px;
}

.dropdown-menu.show {
  display: block;  
}

label[for="dropdownButton"] {
  margin-bottom: 2px;
  font-size: 12px;
}

.dropdown-menu form {
  max-height: 160px;
  overflow-y: auto;
  scrollbar-width: thin;  
  scrollbar-color: #cfcfcf #f6f6f6;  
}

.dropdown-menu form::-webkit-scrollbar {
  width: 6px;
  background: #f6f6f6;
}

.dropdown-menu form::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 4px;
}

.arrow-up, .arrow-down {
  font-size: 12px; /* Altere este valor para o tamanho desejado */
  line-height: 1;
  color: #a5a3a3;
}

.form-check-input:checked {
  background-color: #D4AF37;
  border-color: #D4AF37;
}

.form-check-label {
  font-size: 12px;  
}