<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="titulo_section color_titulo barra_bottom_center margin-top-20 margin-bottom-20">
        Imóveis em Destaque
      </h2>
    </div>
    <div class="col-12 text-center margin-top-0 margin-bottom-20">
      <span class="">Veja abaixo nossas principais oportunidades</span>
    </div>
  </div>
  <div>
    <ul class="botoes_lista_imoveis_home nav nav-pills text-center margin-bottom-20">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="tab"
          href="#tab_home_lista_comprar"
          role="tab"
          aria-controls="tab_home_lista_comprar"
          aria-selected="true"
          >Comprar</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#tab_home_lista_alugar"
          role="tab"
          aria-controls="tab_home_lista_alugar"
          aria-selected="false"
          >Alugar</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#tab_home_lista_alugar"
          role="tab"
          aria-controls="tab_home_lista_alugar"
          aria-selected="false"
          >Super Destaque</a
        >
      </li>
    </ul>
  </div>

  <app-card-imovel [cards]="cards!"></app-card-imovel>
</div>
<div class="container-setas d-flex justify-content-center mt-2">
  <button
    class="arrow-lef-empreendimento arrow_circle seta_left_empreendimento"
    (click)="prevCard()"
    [disabled]="startIndex === 0"
    aria-label="Anterior"
  >
    <span class="carousel_setinha">‹</span>
  </button>
  <button
    class="arrow-right-empreendimento arrow_circle seta_right_empreendimento"
    (click)="nextCard()"
    [disabled]="startIndex + visibleCards.length >= cards.length"
    aria-label="Próximo"
  >
    <span class="carousel_setinha">›</span>
  </button>
</div>
