:root {
  --primary-black: #000000;
  --primary-gold: #d4af37;
  --primary-white: #ffffff;
  --secondary-black: #2e2e2e;
  --secondary-dark: #c1c1c1;
  --secondary-yellow: #ffe89b;
}
#header {
  background-color: var(--primary-black)   !important;
}
.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  max-width: 1600px;
}

#navbarSupportedContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 0px;
}

.btn-menu-m {
  background-color: var(--primary-black);
  border: none;
  padding: 0px;
}

.btn-menu-m span {
  font-size: 2rem;
}

.btn-menu-m img {
  width: 25px;
  height: 25px;
}

.logo-principal {
  height: 70px;
  width: auto;
}

.nav-link {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 0.765rem;
  font-style: normal;
  font-weight: 500;
  color: var(--primary-white);
  text-decoration: none !important;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 2px;
}
.nav-link:hover {
  color: var(--secondary-black);
  background-color: var(--secondary-dark);
}

@media (max-width: 1142px) {
  .btn-menu-m {
    display: flex;
  }
  #navbarSupportedContent .nav-item {
    display: none;
  }
}

@media (max-width: 1142px) {
  .btn-menu-m {
    display: flex;
  }
  #navbarSupportedContent .nav-item {
    display: none;
  }
}