<nav id="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <a class="navbar-brand" href="#">
            <img
              class="logo-principal float-left lazyloaded"
              src="https://cdn.imoview.com.br/siteuniversal/Site/imagens/7yvy4o8m.png?v=1745492949"
              alt="Imobiliária Porto Seguro - Sua imobiliária em Cascavel"
              width="150"
              height="34"
            />
          </a>

          <div id="navbarSupportedContent">
            <ul class="nav p-2">
              <li class="nav-item">
                <a class="nav-link" href="#venda">COMPRAR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aluguel">ALUGAR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#anuncie-seu-imovel"> ANUNCIAR MEU IMÓVEL </a>
              </li>
            </ul>
            <button class="btn-menu-m" type="button" title="Menu">
              <img src="assets/icons/icons-tema-clean/menu.svg" width="24" height="24" alt="Menu" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
 
