<nav id="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <a class="navbar-brand" href="#">
            <img
              class="logo-principal float-left lazyloaded"
              src="../../assets/images/Magistral-Logo/Magistral-Logo-Horiz-FundoEscuro.png"
              alt="Imobiliária Porto Seguro - Sua imobiliária em Cascavel"
            />
          </a>

          <div id="navbarSupportedContent">
            <ul class="nav p-2">
              <li class="nav-item">
                <a class="nav-link" href="/catalogo">COMPRAR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/catalogo">ALUGAR</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#anuncie-seu-imovel"> ANUNCIAR MEU IMÓVEL </a>
              </li> -->
            </ul>
            <button class="btn-menu-m" type="button" title="Menu" (click)="abrirModal.emit()">
              <img src="assets/icons/icons-tema-clean/menu.svg" width="24" height="24" alt="Menu" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
