.arrow_circle {
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px #bdbdbd;
  -moz-box-shadow: 0px 0px 5px 0px #bdbdbd;
  box-shadow: 0px 0px 5px 0px #bdbdbd;
  color: #505050;
  margin: 0 5px;
  cursor: pointer;
}

.arrow_circle:hover {
  background-color: #857c5c; 
}