:root {
  --primary-black: #000000;
  --primary-gold: #d4af37;
  --primary-white: #ffffff;
  --secondary-black: #2e2e2e;
  --secondary-dark: #c1c1c1;
  --secondary-yellow: #ffe89b;
}

.container {
  margin-bottom: 100px;
}

span {
  color: var(--primary-white);
}

.arrow_circle {
  background: var(--secondary-dark);
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px var(--secondary-dark);
  -moz-box-shadow: 0px 0px 5px 0px var(--secondary-dark);
  box-shadow: 0px 0px 5px 0px var(--secondary-dark);
  color: var(--secondary-black);
  margin: 0 5px;
  cursor: pointer;
}

.arrow_circle:hover {
  background-color: var(--primary-gold);
}

.titulo_section {
   font-size: 1.5rem;  
   color: var(--primary-white);
}

.barra_bottom_center:after {
  content: "";
  display: block;
  margin: 10px auto 0px;
  width: 70px;
  height: 3px;
  background: var(--primary-gold);
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}