<div class="container mt-4">
  <div id="empreendimentosCarousel" class="carousel slide" data-bs-ride="carousel"  #carouselRef>
    <div class="carousel-inner">

      <div class="row">
        <div class="col-12 text-center">
          <h2 class="titulo_section color_titulo barra_bottom_center margin-top-20 margin-bottom-20">Oportunidades únicas</h2>
        </div>
        <div class="col-12 text-center margin-top-0 margin-bottom-20">
          <span class="">Conheça nossos lançamentos e oportunidades únicas!</span>
        </div>
      </div>
      
        <div class="carousel-item active">
        <img src="https://cdn.imoview.com.br/portosegurost/Site/imagens/8uf3gsmt.png" class="d-block w-100 carousel-img" alt="Empreendimento 1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Empreendimento 1</h5>
          <p>Descrição do empreendimento 1.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.imoview.com.br/portosegurost/Site/imagens/5tm03vnv.png" class="d-block w-100 carousel-img" alt="Empreendimento 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Empreendimento 2</h5>
          <p>Descrição do empreendimento 2.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.imoview.com.br/portosegurost/Site/imagens/g5swrj2r.png" class="d-block w-100 carousel-img" alt="Empreendimento 3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Empreendimento 3</h5>
          <p>Descrição do empreendimento 3.</p>
        </div>
      </div>
        <div class="carousel-item">
        <img src="https://cdn.imoview.com.br/portosegurost/Site/imagens/5kx7ai1s.png" class="d-block w-100 carousel-img" alt="Empreendimento 3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Empreendimento 3</h5>
          <p>Descrição do empreendimento 3.</p>
        </div>
      </div>
    </div>
    <div class="container-setas d-flex justify-content-center mt-2">
      <div class="arrow-lef-empreendimento arrow_circle seta_left_empreendimento" (click)="prev(carouselRef)">
        <span class="carousel_setinha">‹</span>
      </div>
      <div class="arrow-right-empreendimento arrow_circle seta_right_empreendimento" (click)="next(carouselRef)">
        <span class="carousel_setinha">›</span>
      </div>
    </div>
  </div>
</div>