<section id="section_banner_empreendimentos">
      <div class="back_div_transition back_div_transition_top"></div>
      <div class="back_secundario">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2
                class="titulo_section color_titulo barra_bottom_center margin-top-20 margin-bottom-20"
              >
                Oportunidades únicas
              </h2>
            </div>
            <div class="col-12 text-center margin-top-0 margin-bottom-20">
              <span class="">
                Conheça nossos lançamentos e oportunidades únicas!
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 margin-bottom-20" style="position: relative">
              <div
                id="carrossel_empreendimentos"
                class="slick-initialized slick-slider slick-dotted"
              >
                <div class="slick-list draggable">
                  <div
                    class="slick-track"
                    style="
                      opacity: 1;
                      width: 7045px;
                      transform: translate3d(-2818px, 0px, 0px);
                    "
                  >
                    <div
                      class="contain-img slick-slide"
                      data-slick-index="0"
                      aria-hidden="true"
                      style="width: 1409px"
                      tabindex="-1"
                      role="tabpanel"
                      id="slick-slide10"
                      aria-describedby="slick-slide-control10"
                    >
                      <a target="_blank" href="" tabindex="-1">
                        <img
                          class="img_carrossel_desktop"
                          loading="lazy"
                          src="https://cdn.imoview.com.br/portosegurost/Site/imagens/8uf3gsmt.png"
                          alt="Banner Home Page"
                          width="1400px"
                          height="350px"
                          border="0"
                        />
                      </a>
                    </div>
                    <div
                      class="contain-img slick-slide"
                      data-slick-index="1"
                      aria-hidden="true"
                      style="width: 1409px"
                      tabindex="-1"
                      role="tabpanel"
                      id="slick-slide11"
                      aria-describedby="slick-slide-control11"
                    >
                      <a target="_blank" href="" tabindex="-1">
                        <img
                          class="img_carrossel_desktop"
                          loading="lazy"
                          src="https://cdn.imoview.com.br/portosegurost/Site/imagens/5tm03vnv.png"
                          alt="Banner Home Page"
                          width="1400px"
                          height="350px"
                          border="0"
                        />
                      </a>
                    </div>
                    <div
                      class="contain-img slick-slide slick-current slick-active"
                      data-slick-index="2"
                      aria-hidden="false"
                      style="width: 1409px"
                      tabindex="0"
                      role="tabpanel"
                      id="slick-slide12"
                      aria-describedby="slick-slide-control12"
                    >
                      <a target="_blank" href="" tabindex="0">
                        <img
                          class="img_carrossel_desktop"
                          loading="lazy"
                          src="https://cdn.imoview.com.br/portosegurost/Site/imagens/g5swrj2r.png"
                          alt="Banner Home Page"
                          width="1400px"
                          height="350px"
                          border="0"
                        />
                      </a>
                    </div>
                    <div
                      class="contain-img slick-slide"
                      data-slick-index="3"
                      aria-hidden="true"
                      style="width: 1409px"
                      tabindex="-1"
                      role="tabpanel"
                      id="slick-slide13"
                      aria-describedby="slick-slide-control13"
                    >
                      <a
                        target="_blank"
                        href="https://wa.me/5545998361220"
                        tabindex="-1"
                      >
                        <img
                          class="img_carrossel_desktop"
                          loading="lazy"
                          src="https://cdn.imoview.com.br/portosegurost/Site/imagens/5kx7ai1s.png"
                          alt="Banner Home Page"
                          width="1400px"
                          height="350px"
                          border="0"
                        />
                      </a>
                    </div>
                    <div
                      class="contain-img slick-slide"
                      data-slick-index="4"
                      aria-hidden="true"
                      style="width: 1409px"
                      tabindex="-1"
                      role="tabpanel"
                      id="slick-slide14"
                      aria-describedby="slick-slide-control14"
                    >
                      <a
                        target="_blank"
                        href="http://www.larportoseguro.com"
                        tabindex="-1"
                      >
                        <img
                          class="img_carrossel_desktop"
                          loading="lazy"
                          src="https://cdn.imoview.com.br/portosegurost/Site/imagens/iyhgsp6s.png"
                          alt="Banner Home Page"
                          width="1400px"
                          height="350px"
                          border="0"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 
<div class="marcadores-blog margin-top-10">
    <div class="slick-slider-dots slick-slider-dots-banners"></div>
</div> -->

              <div class="container-setas">
                <div
                  class="arrow-lef-empreendimento arrow_circle seta_left_empreendimento"
                >
                  <span class="carousel_setinha">‹</span>
                </div>
                <div
                  class="arrow-right-empreendimento arrow_circle seta_right_empreendimento"
                >
                  <span class="carousel_setinha">›</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="back_div_transition back_div_transition_bottom"></div>
      <!-- style="background-image: url(https://www.portoseguroimobiliaria.com/assets/images/back_transition_down.png);" -->
    </section>