  <footer id="footer" class="back_footer_imovel footer_color">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <img
              class="logo-footer lazyload"
              loading="lazy"
              src="../../../assets/images/Magistral-Logo/Magistral-Logo-Horiz-Bco.png"
              alt="Magistral Imobiliária"
            />
            <p>
              Especialista em imóveis à venda e para alugar em Cascavel, PR!
            </p>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="row">
              <div class="col-12">
                <span class="titulo_footer">A Imobiliária Magistral</span>
              </div>
              <!-- <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="#"
                      >Quem Somos</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="#"
                      >Fale Conosco</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="#"
                      >Nossa equipe</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="#"
                      >Documentos</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="#"
                      >Política de Privacidade
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="#"
                      >Blog
                    </a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="row">
              <div class="col-12">
                <span class="titulo_footer">IMÓVEIS</span>
              </div>
              <!-- <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="#"
                      >Imóveis para comprar</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="#"
                      >Imóveis para alugar</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="#"
                      >Lançamentos</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="#"
                      >Condomínios</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="#"
                      >Anunciar seu imóvel</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="#"
                      >Favoritos</a
                    >
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="row">
              <div class="col-12">
                <span class="titulo_footer">Cliente</span>
              </div>
              <!-- <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a
                      target="_blank"
                      href="#"
                      >Área do cliente</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="#"
                      >Ouvidoria</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="#"
                      >Trabalhe conosco</a
                    >
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="row d-flex junstify-content-center align-item-center">
              <div class="col-12">
                <span class="titulo_footer">ATENDIMENTO</span>
              </div>
              <div class="col-12">
                <a
                  class="links-footer"
                  href="mailto:contato@magistral.com"
                >
                  <p>contato@magistral.com</p>
                </a>
                <p>
                  R. Rua, 999 - Centro, Cascavel - PR,
                  99999-900
                </p>
              </div>
              <div class="col-12" style="padding: 0px">
                <a class="links-footer" target="_blank" href="tel:4532253111">
                  <img
                    class="lazyload mini_icon_rodape"
                    loading="lazy"
                    src="../../../assets/icons/icon-tel-branco.png"
                    width="30px"
                    height="25px"
                    alt="Telefone"
                  />
                  <span>(45) 99999-9999</span>
                </a>
              </div>
              <!-- <div class="col-12" style="padding: 0px">
                <a
                  class="links-footer"
                  target="_blank"
                  href="#"
                >
                  <img
                    class="lazyload mini_icon_rodape"
                    loading="lazy"
                    src="https://www.portoseguroimobiliaria.com/assets/icons/redes-sociais/icon-whatsapp-branco.svg"
                    width="34"
                    height="35"
                    alt="WhatsApp"
                    border="0"
                  />
                  <span> (45) 9 9836-1220</span>
                </a>
              </div> -->
              <!-- <div class="col-12" style="padding: 0px">
                <a
                  class="links-footer"
                  target="_blank"
                  href="https://api.whatsapp.com/send?phone=5545998252332&amp;text=Olá."
                >
                  <img
                    class="lazyload mini_icon_rodape"
                    loading="lazy"
                    src="https://www.portoseguroimobiliaria.com/assets/icons/redes-sociais/icon-whatsapp-branco.svg"
                    width="34"
                    height="35"
                    alt="WhatsApp"
                    border="0"
                  />
                  <span> (45) 9 9825-2332</span>
                </a>
              </div> -->
            </div>
            <!-- <div class="row">
              <div class="col-12 margin-top-10 margin-bottom-10">
                <span class="titulo_footer">redes sociais</span>
              </div>
              <div class="col-12">
                <a
                  target="_blank"
                  href="#"
                >
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/lbdogimm.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/lbdogimm.png"
                  />
                </a>
                <a
                  target="_blank"
                  href="https://www.youtube.com/@imobiliariaportoseguro"
                >
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/bhul0ljs.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/bhul0ljs.png"
                  />
                </a>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/imobiliária-porto-seguro/"
                >
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/8gxq7duv.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/8gxq7duv.png"
                  />
                </a>
                <a
                  target="_blank"
                  href="https://www.facebook.com/imobiliariaportosegurocascavel"
                >
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/dfxoywk2.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/dfxoywk2.png"
                  />
                </a>
                <a target="_blank" href="blog/">
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/hjmv7bjl.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/hjmv7bjl.png"
                  />
                </a>
              </div>
            </div> -->
          </div>
        </div>

        <div
          id="text-copyright"
          class="row justify-content-between align-items-center"
        >
          <p>
            © 2025 | Imobiliária Magistra| CRECI: XXXX CRECI: XXXXX |
            Desenvolvido por
            <a href="https://techspert.com.br/" target="_blank"
              ><b>TecSpert.</b></a
            >
          </p>
          <!-- <span>Dev. responstavel: Arthur nunes</span> -->
        </div>
      </div>
    </footer>