  <footer id="footer" class="back_footer_imovel footer_color">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <img
              class="logo-footer lazyload"
              loading="lazy"
              src="https://cdn.imoview.com.br/siteuniversal/Site/imagens/lw92j091.png"
              alt="Imobiliária Porto Seguro - Sua imobiliária Imobiliária Porto Seguro"
            />
            <p>
              Especialista em imóveis à venda e para alugar em Cascavel, PR!
            </p>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="row">
              <div class="col-12">
                <span class="titulo_footer">A Imobiliária Porto Seguro</span>
              </div>
              <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="https://www.portoseguroimobiliaria.com/sobre"
                      >Quem Somos</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="https://www.portoseguroimobiliaria.com/contato"
                      >Fale Conosco</a
                    >
                  </li>
                  <!--<li class="list-group-item"><a href="https://www.portoseguroimobiliaria.com/nossa-equipe">Equipe</a></li>-->
                  <li class="list-group-item">
                    <a
                      href="https://www.portoseguroimobiliaria.com/nossa-equipe"
                      >Nossa equipe</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="https://www.portoseguroimobiliaria.com/documentos"
                      >Documentos</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://www.portoseguroimobiliaria.com/politica-privacidade"
                      >Política de Privacidade
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="https://www.portoseguroimobiliaria.com/blog"
                      >Blog
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="row">
              <div class="col-12">
                <span class="titulo_footer">IMÓVEIS</span>
              </div>
              <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="https://www.portoseguroimobiliaria.com/venda"
                      >Imóveis para comprar</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="https://www.portoseguroimobiliaria.com/aluguel"
                      >Imóveis para alugar</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://www.portoseguroimobiliaria.com/venda/imovel/regiao-do-centro/todos-os-bairros/todos-os-condominios/apenas-lancamentos/"
                      >Lançamentos</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a href="https://www.portoseguroimobiliaria.com/condominios"
                      >Condomínios</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://www.portoseguroimobiliaria.com/anuncie-seu-imovel"
                      >Anunciar seu imóvel</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://www.portoseguroimobiliaria.com/imoveis-favoritos"
                      >Favoritos</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <div class="row">
              <div class="col-12">
                <span class="titulo_footer">Cliente</span>
              </div>
              <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a
                      target="_blank"
                      href="https://cliente.portalunsoft.com.br/portosegurost"
                      >Área do cliente</a
                    >
                  </li>

                  <!--<li class="list-group-item"><a href="https://www.portoseguroimobiliaria.com/documentos">Documentos</a></li>-->
                  <li class="list-group-item">
                    <a href="https://www.portoseguroimobiliaria.com/ouvidoria"
                      >Ouvidoria</a
                    >
                  </li>
                  <li class="list-group-item">
                    <a
                      href="https://www.portoseguroimobiliaria.com/trabalhe-conosco"
                      >Trabalhe conosco</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="row d-flex junstify-content-center align-item-center">
              <div class="col-12">
                <span class="titulo_footer">ATENDIMENTO</span>
              </div>
              <div class="col-12">
                <a
                  class="links-footer"
                  href="mailto:contato@portoseguroimobiliaria.com"
                >
                  <p>contato@portoseguroimobiliaria.com</p>
                </a>
                <p>
                  R. Afonso Pena, 1854 - sala 02 - Centro, Cascavel - PR,
                  85812-100
                </p>
              </div>
              <div class="col-12" style="padding: 0px">
                <a class="links-footer" target="_blank" href="tel:4532253111">
                  <img
                    class="lazyload mini_icon_rodape"
                    loading="lazy"
                    src="https://www.portoseguroimobiliaria.com/assets/icons/icon-phone-branco.svg"
                    width="39"
                    height="39"
                    border="0"
                    alt="Telefone"
                  />
                  <span>(45) 3225-3111</span>
                </a>
              </div>
              <div class="col-12" style="padding: 0px">
                <a
                  class="links-footer"
                  target="_blank"
                  href="https://api.whatsapp.com/send?phone=5545998361220&amp;text=Olá."
                >
                  <img
                    class="lazyload mini_icon_rodape"
                    loading="lazy"
                    src="https://www.portoseguroimobiliaria.com/assets/icons/redes-sociais/icon-whatsapp-branco.svg"
                    width="34"
                    height="35"
                    alt="WhatsApp"
                    border="0"
                  />
                  <span> (45) 9 9836-1220</span>
                </a>
              </div>
              <div class="col-12" style="padding: 0px">
                <a
                  class="links-footer"
                  target="_blank"
                  href="https://api.whatsapp.com/send?phone=5545998252332&amp;text=Olá."
                >
                  <img
                    class="lazyload mini_icon_rodape"
                    loading="lazy"
                    src="https://www.portoseguroimobiliaria.com/assets/icons/redes-sociais/icon-whatsapp-branco.svg"
                    width="34"
                    height="35"
                    alt="WhatsApp"
                    border="0"
                  />
                  <span> (45) 9 9825-2332</span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 margin-top-10 margin-bottom-10">
                <span class="titulo_footer">redes sociais</span>
              </div>
              <div class="col-12">
                <a
                  target="_blank"
                  href="https://www.instagram.com/imobiliariaportoseguro/"
                >
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/lbdogimm.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/lbdogimm.png"
                  />
                </a>
                <a
                  target="_blank"
                  href="https://www.youtube.com/@imobiliariaportoseguro"
                >
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/bhul0ljs.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/bhul0ljs.png"
                  />
                </a>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/imobiliária-porto-seguro/"
                >
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/8gxq7duv.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/8gxq7duv.png"
                  />
                </a>
                <a
                  target="_blank"
                  href="https://www.facebook.com/imobiliariaportosegurocascavel"
                >
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/dfxoywk2.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/dfxoywk2.png"
                  />
                </a>
                <a target="_blank" href="blog/">
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="https://cdn.imoview.com.br/demo/Site/imagens/hjmv7bjl.png"
                    width="39"
                    height="39"
                    border="0"
                    alt="https://cdn.imoview.com.br/demo/Site/imagens/hjmv7bjl.png"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div
          id="text-copyright"
          class="row justify-content-between align-items-center"
        >
          <p>
            © 2025 | Imobiliária Porto Seguro | CRECI: J-4573 CRECI: 1231-J |
            Desenvolvido por
            <a href="https://www.universalsoftware.com.br/" target="_blank"
              ><b>Universal Software.</b></a
            >
          </p>
          <!-- <span>Dev. responstavel: Arthur nunes</span> -->
        </div>
      </div>
    </footer>