  <section id="section_imoveis_destaque" class="back_primario">
      <div class="container-fluid container-carrossel">
        <div class="row text-center">
          <div class="col-12 margin-top-30">
            <h2
              class="titulo_section color_titulo barra_bottom_center text-center"
            >
              Separamos alguns imóveis para você
            </h2>
          </div>
          <div class="descricao col-12 margin-top-10 margin-bottom-20">
            Para tornar sua navegação mais fácil, selecionamos alguns filtros de
            imóveis que podem te interessar
          </div>
        </div>

        <div class="row">
          <div class="col-12 margin-top-10">
            <div
              id="carrossel_busca_rapida"
              class="slick-initialized slick-slider slick-dotted"
            >
              <div class="slick-list draggable">
                <div class="slick-track">
                  <a
                    href="venda/apartamento/?&amp;pagina=1"
                    class="slick-slide slick-current slick-active"
                    data-slick-index="0"
                    aria-hidden="false"
                    style="width: 177px"
                    tabindex="0"
                    role="tabpanel"
                    id="slick-slide00"
                    aria-describedby="slick-slide-control00"
                  >
                    <div class="text-center">
                      <img
                        class="img_carrossel_busca_rapida"
                        src="../../../assets/icons/busca-rapida/icon-ap.png"
                        alt="Busca rápida"
                        width="150px"
                        height="150px"
                        loading="lazy"
                      />
                      <span class="text-center">Apartamentos</span>
                    </div> </a
                  ><a
                    href="venda/casa/?&amp;pagina=1"
                    class="slick-slide slick-active"
                    data-slick-index="1"
                    aria-hidden="false"
                    style="width: 177px"
                    tabindex="0"
                    role="tabpanel"
                    id="slick-slide01"
                  >
                    <div class="text-center">
                      <img
                        class="img_carrossel_busca_rapida"
                        src="../../../assets/icons/busca-rapida/icon-casa.png"
                        alt="Busca rápida"
                        width="150px"
                        height="150px"
                        loading="lazy"
                      />
                      <span class="text-center">Casas</span>
                    </div> </a
                  ><a
                    href="aluguel"
                    class="slick-slide slick-active"
                    data-slick-index="2"
                    aria-hidden="false"
                    style="width: 177px"
                    tabindex="0"
                    role="tabpanel"
                    id="slick-slide02"
                  >
                    <div class="text-center">
                      <img
                        class="img_carrossel_busca_rapida"
                        src="../../../assets/icons/busca-rapida/icon-chave.png"
                        alt="Busca rápida"
                        width="150px"
                        height="150px"
                        loading="lazy"
                      />
                      <span class="text-center">Alugar</span>
                    </div> </a
                  ><a
                    href="aluguel"
                    class="slick-slide slick-active"
                    data-slick-index="3"
                    aria-hidden="false"
                    style="width: 177px"
                    tabindex="0"
                    role="tabpanel"
                    id="slick-slide03"
                  >
                    <div class="text-center">
                      <img
                        class="img_carrossel_busca_rapida"
                        src="../../../assets/icons/busca-rapida/icon-loja.png"
                        alt="Busca rápida"
                        width="150px"
                        height="150px"
                        loading="lazy"
                      />
                      <span class="text-center">Lojas</span>
                    </div> </a
                  ><a
                    href="venda/casa-em-condominio/?&amp;pagina=1"
                    class="slick-slide slick-active"
                    data-slick-index="4"
                    aria-hidden="false"
                    style="width: 177px"
                    tabindex="0"
                    role="tabpanel"
                    id="slick-slide04"
                    aria-describedby="slick-slide-control01"
                  >
                    <div class="text-center">
                      <img
                        class="img_carrossel_busca_rapida"
                        src="../../../assets/icons/busca-rapida/icon-condominio.png"
                        alt="Busca rápida"
                        width="350px"
                        height="350px"
                        loading="lazy"
                      />
                      <span class="text-center">Casas em condomínio</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 margin-top-20 margin-bottom-20">
            <div class="marcadores-blog">
              <div class="slick-slider-dots slick-slider-dots-busca-rapida">
                <ul role="tablist">
                  <li class="slick-active" role="presentation">
                    <button
                      type="button"
                      role="tab"
                      id="slick-slide-control00"
                      aria-controls="slick-slide00"
                      aria-label="1 of 1"
                      tabindex="0"
                      aria-selected="true"
                    >
                      1
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>